#content {
  display: flex;
  height: 94vh;
}

#content #sidebar {
}

#content #tables {
  flex: 1;
}

.noBorder{
  border: 0;
  background: #212529;
  color: white;
  outline: none;
}
.dropdown{
  margin: 1rem 1rem 2rem;
  position: absolute;
  bottom: 0;
}

#tachado{
  text-decoration: line-through;
}

.no-outline:focus {
  outline: none;
}

.newTask{
  outline: none;
  border: 0;
  margin-bottom: 1rem;
}

.checkbox{
  transform: scale(2);
  margin: 0 0 0 1rem;
}
