<nav class="navbar bg-light">

  <div class="container-fluid">
    <a routerLink="/inicio" routerLinkActive="active" class="navbar-brand">TO-DO app</a>
    <a class="nav-link" style="float:right" routerLink="/register" routerLinkActive="active" *ngIf="!authService.logIn">Registro</a>

    <a class="nav-link" style="float:right" routerLink="/login" routerLinkActive="active" *ngIf="!authService.logIn">Login</a>
    <a class="nav-link" (click)="authService.logout()" href="#" *ngIf="authService.logIn">Logout</a>
  </div>
</nav>

