<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home" aria-current="page" href="#">Home</a>
      </li>
    </ul>
    <ul>
      <li>
        <a class="nav-link active" routerLink="/home" aria-current="page" href="#">Home</a>

      </li>
    </ul>

    <div class="btn-group">
      <li class="nav-item"><a class="btn btn-primary active" *ngIf="!authService.logIn" href="#" routerLink=""
                              routerLinkActive="active">Sign Up</a></li>
      <li class="nav-item"><a class="btn btn-primary active" *ngIf="!authService.logIn" href="#" routerLink="/login"
                              routerLinkActive="active">Login</a></li>
      <li class="nav-item"><a class="btn btn-primary active" (click)="authService.logout()" *ngIf="authService.logIn"
                              href="#">Logout</a></li>

    </div>
  </div>
</nav>

