<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Sign up</h3>
      <div class="card-text">

        <!--<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div>-->
        <form (ngSubmit)="onSubmit()" [formGroup]="form" method="post">
          <div class="form-group">
            <input [(ngModel)]="user.username" type="email" class="form-control form-control-sm"
                   aria-describedby="emailHelp" formControlName="username" id="username"
                   name="username"
                   placeholder="Nombre usuario">
          </div>
          <div class="form-group">
            <input [(ngModel)]="user.password" type="password" class="form-control form-control-sm"
                   formControlName="password" id="password"
                   name="password" placeholder="Contraseña">
          </div>
          <button type="submit" (click)="register()" class="btn btn-primary btn-block">Create</button>

          <div class="sign-up">
            Ya estas registrado? <a routerLink="/login">Log in</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


