<body class="bg-gray-10 ">
<form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="form" method="post">
  <div class="flex justify-center h-screen w-screen items-center">

    <div class="w-full md:w-1/2 flex flex-col items-center ">
      <!-- text login -->
      <h1 class="text-center text-2xl font-bold text-gray-600 mb-6">SIGN UP</h1>
      <!-- email input -->
      <div class="w-3/4 mb-6">
        <input [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" type="username" name="username"
               id="username"
               class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500"
               placeholder="Username">
      </div>
      <!-- password input -->
      <div class="w-3/4 mb-6">
        <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" name="password"
               id="password"
               class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500 "
               placeholder="Password">
      </div>
      <!-- PASSWORD CONF input
      <div class="w-3/4 mb-6">
        <input type="password" name="password" id="passwordConfirmation"
               class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500 "
               placeholder="Confirm Password">
      </div>
       -->

      <!-- button -->
      <div class="w-3/4 mt-4">
        <button type="submit" (click)="register()"
                class="py-4 bg-blue-400 w-full rounded text-blue-50 font-bold hover:bg-blue-700"> SIGN UP
        </button>
        <div class="sign-up">
          Ya estas registrado? <a routerLink="/login">Log in</a>
        </div>
      </div>
    </div>
  </div>
</form>
</body>


