<body class="bg-gray-10 ">
<form (ngSubmit)="onSubmit()" *ngIf="form" [formGroup]="form" method="post">
  <div class="flex justify-center h-screen w-screen items-center">

    <div class="w-full md:w-1/2 flex flex-col items-center ">
      <!-- text login -->
      <h1 class="text-center text-2xl font-bold text-gray-600 mb-6">LOGIN</h1>
      <!-- email input -->
      <div class="w-3/4 mb-6">
        <input [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500" id="username"
               name="username"
               placeholder="Username"
               type="username">
      </div>
      <!-- password input -->
      <div class="w-3/4 mb-6">
        <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500 " id="password"
               name="password"
               placeholder="Password"
               type="password">
      </div>
      <!-- remember input -->
      <div class="w-3/4 flex flex-row justify-between">
        <div class=" flex items-center gap-x-1">
          <input class=" w-4 h-4  " id="" name="remember" type="checkbox">
          <label class="text-sm text-slate-400" for="">Remember me</label>
        </div>
        <div>
          <a class="text-sm text-slate-400 hover:text-blue-500" href="#">Forgot?</a>
        </div>
      </div>
      <!-- button -->
      <div class="w-3/4 mt-4">
        <button (click)="Login()" class="py-4 bg-blue-400 w-full rounded text-blue-50 font-bold hover:bg-blue-700"
                type="submit"> LOGIN
        </button>
      </div>
    </div>
  </div>
</form>
</body>
